.login-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
  }
  .login-page-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    padding: 20px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 300px;
    width: 300px;
  }
  .username {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #ffffff;
    margin-top: 20px;
  }
  .username-input {
    height: 35px;
    padding-left: 7px;
    outline: none;
    border: 1px solid #64748b;
    margin-top: 5px;
    background-color: transparent;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #64748b;
  }
  .login-button {
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 500;
    height: 30px;
    color: #ffffff;
    background-color: #6366f1;
    outline: none;
    border: none;
    margin-top: 33px;
    cursor: pointer;
    padding: 5px;
  }
  #toast {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}